html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    background-image: linear-gradient(to bottom right, #212121, #644987, #ea80fc);
    color: #000000;
}
.jumbotron{
    width: 50%;
    margin-top: 5%;
    background-color: #302f2f21;
}
.panel .panel-body {
    background-image: linear-gradient(to bottom left, #212121, #644987, #ea80fc);
}
.modal-body {
    background-image: linear-gradient(to bottom left, #212121, #644987, #ea80fc);
}

.modal-footer, .modal-header , .panel-footer{
    background-color: #212121;
}
